:root { 
--gray_50_01:#f8f9fa; 
--gray_50_02:#fafcff; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--light_blue_A100:#67d7fd; 
--gray_600_19:#7e7e7e19; 
--light_blue_400:#1ba9ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--black_900_66:#00000066; 
--black_900:#000000; 
--light_blue_A700:#0086ed; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--indigo_50:#e9eef8; 
--gray_900:#0d1624; 
--blue_600:#378fd3; 
--blue_gray_900_7f:#3333337f; 
--gray_300:#e0e0e0; 
--blue_50:#e0ebff; 
--white_A700_87:#ffffff87; 
--blue_400:#3a96dd; 
--white_A700:#ffffff; 
}